.button {
width: 170;
height: 46;
border: none;
padding-top: 12px;
padding-right: 42px;
padding-bottom: 12px;
padding-left: 42px;
gap: 12px;
range: 0 deg;
opacity: 1;
border-radius: 50px;

  
  &:hover {
    background-color: #F4F4F4;
    color: #595959;
    padding: 0.75rem;
    font-size: 1rem;
  }
  
  &:active {
    transform: scale(0.98);
  }
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.save {
  background-color: #000000;
  color: white;
  padding: 0.75rem;
  font-size: 1rem;
}
