@import "../index.scss";

.field {
  display: grid;
  gap: 8px;
  width: 100%;

  label {
    font-family: $font-family-Manrope;
    font-weight: $font-weight-semibold;
    font-size: $font-size-18;
    color: $color-01;
    line-height: 100%;
    letter-spacing: 0%;
    @media (max-width: 768px) {
      font-size: $font-size-16;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }

  input {
    width: 100%;
    max-width: 420px;
    height: 42px;
    border: 2px solid $color-04;
    border-radius: 50px;
    padding: 0 8px 0 16px;
    transition: border-color 0.2s;
    font-weight: $font-weight-medium;
    font-size: $font-size-16;
    line-height: 100%;
    letter-spacing: 0%;

    &:focus {
      border-color: $color-accent;
    }
    @media (max-width: 768px) {
      max-width: 100%;
      font-size: $font-size-14;
      leading-trim: NONE;
    }
  }

  .error {
    color: $color-error;
    font-size: $font-size-14;
  }
}
