@import "../index.scss";

.card {
  display: flex;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  min-height: 168px;
  gap: 20px;
  background-color: $color-06;
  border-radius: 16px;
  padding: 24px;
  transition:
    box-shadow 0.2s,
    filter 0.2s;
  &:hover {
    box-shadow: 0 4px 12px rgba($color-01, 0.3);
  }
  @media (max-width: 768px) {
    width: 100%;
    min-width: 162px;
    min-height: 242px;
    height: auto;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }
}

.archived {
  filter: grayscale(100%);
  opacity: 0.9;
}

.avatarContainer {
  flex-shrink: 0;
  min-width: 112px;
  max-width: 100%;
  height: 120px;
  @media (max-width: 768px) {
    width: 100%;
    min-width: 130px;
    height: 120px;
  }
  .avatar {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    background-color: $color-06;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 180px;
  min-width: 40px;
  height: 100%;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 16px;
  @media (max-width: 768px) {
    gap: 12px;
    width: 100%;
  }
}

.username {
  margin: 0;
  font-size: $font-size-20;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: $font-weight-semibold;
  color: $color-accent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 32px);

  @media (max-width: 768px) {
    font-size: $font-size-18;
  }
}

.menuContainer {
  display: flex;
  position: relative;
  flex-shrink: 0;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  svg {
    width: 24px;
    height: 24px;
  }
}

.info {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: space-between;
  justify-content: space-between;
  .company {
    margin: 0;
    font-size: $font-size-16;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: $font-weight-semibold;
    color: $color-02;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 32px);
  }

  .city {
    margin: 0;
    font-size: $font-size-14;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: $font-weight-medium;
    color: $color-03;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 32px);
  }
}
